.container {
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 70px;
    
  }
  h2{
    font-weight: bold;
    color: black;
  }
  .row{
    margin: 10px;
  }

  .btn-link {
    color: #0BCD5D;
  }
  
  .img-button {
    width: 20px;
    height: 20px;
  }
  
  .mt-3 {
    margin-top: 1.5rem !important;
  }
  
  .opciones {
    margin-bottom: 10px;
  }
  
  .form-control {
    border-color: #28a745;
    background-color:white;
    box-shadow: none;
    margin-bottom: 10px;
  }
  
  .imagensub {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .text-right {
    margin-top: 20px;
  }
  
  .bi.bi-plus-circle-fill {
    font-size: 3rem;
    color: #0BCD5D;
    margin-top: auto;
    margin-left: auto;
  }
  .btn-link{
    color: black;
  }

  .btn-submit {
    background-color: #28a745; /* Verde naturaleza */
    border-color: #28a745; /* Verde naturaleza */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-top:10px;

}

.btn-submit:hover {
    background-color: #007bff; /* Azul agua */
    border-color: #007bff; /* Azul agua */
}

.button-container {
  /* margin-bottom: 90px;
  margin-right: 35px; */
  z-index: 1;
}

label{
  color: #28a745;
  font-weight: bold;
}

.imagen{
  color: transparent;
}