<div class="container">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-link" (click)="goBack()">
        <i class="bi bi-arrow-return-left"></i>
      </button>
    </div>
  </div>
  <div class="row align-items-center my-3">
    <div class="col-md-6">
      <div class="pepe"><h2>Nuevo Sector</h2></div>
      
      <div class="form-group my-2">
        <label for="name">Nombre:</label>
        <input type="text" id="name" class="form-control">
      </div>
      <div class="form-group my-2">
        <label for="option" class="opciones">Seleccione el tipo de planta:</label>
        <select id="option" class="form-control">
          <option value="opcion1">Manzano</option>
          <option value="opcion2">Naranjo</option>
          <option value="opcion3">Tomatera</option>
        </select>
      </div>
      <div class="form-group my-2">
        <label for="liters">Litros:</label>
        <input type="number" id="liters" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <div class="form-group">
          <label for="image">Imagen:</label>
          <input type="file" id="image" class="imagen" (change)="onImageChange($event)">
        </div>
        <div *ngIf="imagePreview">
          <img [src]="imagePreview" alt="Vista previa de imagen" class="imagensub">
        </div>
      </div>
      <div class="form-group my-2">
        <label for="comment">Comentario:</label>
        <textarea id="comment" class="form-control"></textarea>
      </div>
      <a class="button-container"  href = '/path_home'>
        <button type="submit" class="btn btn-submit">Guardar</button>
      </a>
    </div>
  </div>
</div>
