.container {
    margin-top: 30px;
  }
  
  .btn-link {
    color: #0BCD5D;
  }
  
  .img-button {
    width: 20px;
    height: 20px;
  }
  
  .mt-3 {
    margin-top: 1.5rem !important;
  }
  
  .opciones {
    margin-bottom: 10px;
  }
  
  .form-control {
    border: none;
    border-radius: 0;
    background-color: #f1f1f1;
    box-shadow: none;
    margin-bottom: 10px;
  }
  
  .imagensub {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .text-right {
    margin-top: 20px;
  }
  
  .bi-plus-circle-fill {
    font-size: 24px;
    color: #0BCD5D;
  }
  