.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
  }
  
  .form-group label {
    color: #28a745; /* Verde naturaleza */
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border-color: #28a745; /* Verde naturaleza */
  }
  
  textarea.form-control {
    height: 150px; /* Ajusta la altura del campo de texto */
  }
  
  .btn-submit {
    background-color: #28a745; /* Verde naturaleza */
    border-color: #28a745; /* Verde naturaleza */
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 20px;
  }
  
  .btn-submit:hover {
    background-color: #007bff; /* Azul agua */
    border-color: #007bff; /* Azul agua */
  }
  
  form {
    width: 80%; /* Ancho del formulario */
    max-width: 400px; /* Ancho máximo del formulario */
  }
  
  h2{
    font-weight: bold;
    margin-bottom: 10px;
  }