<!-- <body>
    <div class="container">
        <div class="home-container">
            <div class="logo-container">
            <img src="./assets/logoo.png" alt="Logo" class="logo">
            </div>
            <div class="rectangle-container">
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Planta: Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
                <div class="rectangle">
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="left-text">Sector: 1</span>
                            <span class="left-text">Manzano</span>
                        </div>
                    </div>
                    <div class="half-rectangle">
                        <div class="text-container">
                            <span class="right-text">Ph: 6.5</span>
                            <span class="right-text">Agua: 45%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button class="add-button" (click)="redirectToNewSector()">Agregar Recuadro</button>
        </div>
    </div>
</body> -->
<body>
    <div class="container">
      <div class="home-container">
        <div class="logo-container">
          <img src="./assets/logoo.png" alt="Logo" class="logo">
        </div>
        <div class="rectangle-container">
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
          <!-- Repite este bloque de código para cada rectángulo adicional -->
          <div class="rectangle">
            <div class="half-rectangle">
              <div class="text-container">
                <span class="left-text">Sector: 1</span>
                <span class="left-text">Manzano</span>
              </div>
            </div>
            <div class="half-rectangle">
              <div class="text-container">
                <span class="right-text">Ph: 6.5</span>
                <span class="right-text">Agua: 45%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <a class="button-container"  href = '/path_newsector'>
        <button type="submit" class="btn btn-submit">Añadir Sector</button>
      </a>
    </div>
  </body>
  